<div class = "container">
    <div class = "row">
        <div class = "col-xs-12">
            <input type = "text" [(ngModel)] = "title">

            <p> {{ title }} </p>

            <h3> I'm in the AppComponent! </h3>

            <!-- hr is for a horizontal line -->
            <hr> 

            <app-servers></app-servers>

            <hr>

            <h2> Homework 1 </h2>

            <app-warning-alert></app-warning-alert>

            <app-success-alert></app-success-alert>

            <app-homeworks></app-homeworks>
        </div>
    </div>
</div>

<div class = "container">
    <app-cockpit (serverCreated) = "onServerAdded($event)" 
        (blueprint) = "onBlueprintAdded($event)">
    </app-cockpit>

    <hr>

    <div class = "row">
        <div class = "col-xs-12 btn-toolbar">
            <button class = "btn btn-primary" (click) = "onChangesFirst()"> 
                Changes First Element 
            </button>

            <button class = "btn btn-danger" (click) = "onDestroyFirst()"> 
                Destroy First Component
            </button>

            <hr>
            
            <!-- EVerything between your opening and closing tags (for example between <app-server-element> and </app-server-element>) is lost by default -->
            <app-server-element *ngFor = "let serverElement of serverElements" 
                [serverElement] = "serverElement" [name] = "serverElement.name">
                <p #contentParagraph>
                    <strong *ngIf = "serverElement.type === 'server'" 
                        style = "color: red"> 
                        {{ serverElement.content }}
                    </strong>
                            
                    <em *ngIf = "serverElement.type === 'blueprint'">
                        {{ serverElement.content }}
                    </em>
                </p>
            </app-server-element>
        </div>
    </div>
</div>